.group{
	background-color: #335;
	width:190px;
	
	margin: 0 auto 20px;
	display:grid;
	grid-template-columns: 100px 80px;
	border-radius: 15px;
}
input,select{
	
	
	border:0;
	background: none;
	color:#fff;

}
input{

	font-size: 20px;
	padding: 10px 20px;
	
}
select{
	background-color:#335;
	padding-left: 15px;
	
}